@model Simulator.Web.ViewModels.TeamOverView

@{
    for (int i = 0; i < Model.Teams.Count; i++)
    {
        <div style="float:left">
            <br />
            <label> Team name:</label>
            @Html.TextBoxFor(x => x.Teams[i].Name)
            <br />
        
      
            <div id="Player">

                @for (int y = 0; y < Model.Teams[i].Players.Count; y++)
                {
                <div style="padding-right:100px">
                    <label>Set player parameters:</label>
                    <div>
                        <label>Select player position</label>
                        @{
                            @Html.DropDownListFor(model => model.Teams[i].Players[y].Posistion,
                                Html.GetEnumSelectList<Simulator.Domain.PlayerPosistionEnum>(),
                                "Select position")
                        }
                    </div>

                    <div>
                        <label>Set player attack</label>
                        @Html.TextBoxFor(model => model.Teams[i].Players[y].Attack)
                    </div>


                    <div>
                        <label>Set player defense</label>
                        @Html.TextBoxFor(model => model.Teams[i].Players[y].Defense)
                    </div>
                    <br />
                </div>
                }
            </div>       
        </div>
   
    }
}
